* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.game {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card {
    width: 150px;
    height: 150px;
    background-color: #fac5c5;
    border-radius: 10px;
    position: relative;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
}

.card .front,
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    background-position: center;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-color: #fac5c5;
}

.card .back {
    transform: rotateY(180deg);
}

.card .front {
    background-image: url('./assets/ball.png');
}

.card.flip {
    transform: rotateY(180deg);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .message {
    background-color: #fac5c5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
  }
  
  .restart-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 1px;
    margin-left: 5px;
  }
  
  .restart-button:hover {
    cursor: pointer;
    background-color: #301860;
  }

  .cursor {
    z-index: 999;
    position: fixed;
    background: #2696E8;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #2696E8,
                0 0 10px #2696E8,
                0 0 20px #2696E8;
    animation: colors 5s infinite;
    transform: translate(-50%, -50%);
  }

  @keyframes colors {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
  }

  .cursor::before {
    content: '';
    position: absolute;
    background: #2696E8;
    width: 35px;
    height: 35px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
  }

  @media only screen and (max-width: 800px) {
    body {
      background: url('./assets/mobile.png');
      background-size: cover;
      height: 100%;
      justify-content: center;
      flex-direction: column;
    }
    .game {
      width: 100%;
      height: 100%;
    }

    .card {
      width: 100px;
      height: 100px;
    }

    #confetti {
      width: 20%;
    }

    .message {
      width: 95%;
      font-size: 1.28rem;
    }

    .restart-button {
      padding: 8px 10px;
      font-size: 16px;
    }  
  }
   